@*@model List<WebApp1.Models.Module>*@
@model WebApp1.Models.Module
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Create
</button>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Module Code</th>
            <th>Modeule Name</th>
            <th>Detail</th>
            <th>Checked</th>
        </tr>

    </thead>
    <tbody>
        @foreach (WebApp1.Models.Module item in ViewBag.modules)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Code</td>
                <td>@item.Name</td>
                <td>
                    <a href="/module/detail/@item.Id">
                        Detail
                    </a>
                </td>
                <td><a href="/module/browser/@item.Id">Checked</a></td>
            </tr>
        }
    </tbody>
</table>


<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form action="/module/create" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Module</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label asp-for="Id"></label>
                        <input type="number" asp-for="Id" />
                    </div>
                    <div>
                        <label asp-for="Code"></label>
                        <input type="text" asp-for="Code" />
                    </div>
                    <div>
                        <label asp-for="Name"></label>
                        <input type="text" asp-for="Name" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>