@model Product
<link rel="stylesheet" href="/css/kendo.common.min.css" />
<link rel="stylesheet" href="/css/kendo.default.min.css" />
<link rel="stylesheet" href="/css/kendo.default.mobile.min.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<form method="post" enctype="multipart/form-data">
    <div>
        <input type="hidden" asp-for="ProductId" />
        <table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Checked</th>
        </tr>
        
    </thead>
    <tbody>
        
            @foreach (CategoryChecked item in ViewBag.categories)
        {
            <tr>
            <td>@item.CategoryName</td>
            <td>

                <input @(item.Checked ? "checked":"") type="checkbox" name="cid" value="@item.CategoryId"/>
            </td>
            </tr>
        }
        
        
    </tbody>
</table>
    </div>
    <div>
        <lable asp-for="ProductName">Name</lable>
        <input type="text" asp-for="ProductName" />
    </div>
    <div>
        <lable asp-for="Sku">Sku</lable>
        <input type="text" asp-for="Sku" />
    </div>
    <div>
        <lable asp-for="Material">Material</lable>
        <input type="text" asp-for="Material" />
    </div>
    <div>
        <lable asp-for="Price">Price</lable>
        <input type="number" asp-for="Price" />
    </div>
    <div>
        <lable asp-for="SaleOff">SaleOff</lable>
        <input type="number" step="0.001" asp-for="SaleOff" />
    </div>
    <div>
        <lable asp-for="ImageUrl">ImageUrl</lable>
        <img src="https://localhost:44318/images/@Model.ImageUrl" width="70"/>
        <input type="hidden" asp-for="ImageUrl" />
        <input type="file" accept="image/*" name="f" asp-for="ImageUrl" />
    </div>
    <div>
        <lable asp-for="Description">Description</lable>
        <textarea id="editor" type="text" name="description" >@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))</textarea>
    </div>
    <div>
        <button>Save Changes</button>
    </div>
</form>
 <script>
            var editor = $("#editor").kendoEditor({
                stylesheets: [
                    "../content/shared/styles/editor.css",
                ],
                tools: [
                    "bold",
                    "italic",
                    "underline",
                    "undo",
                    "redo",
                    "justifyLeft",
                    "justifyCenter",
                    "justifyRight",
                    "insertUnorderedList",
                    "createLink",
                    "unlink",
                    "insertImage",
                    "tableWizard",
                    "createTable",
                    "addRowAbove",
                    "addRowBelow",
                    "addColumnLeft",
                    "addColumnRight",
                    "deleteRow",
                    "deleteColumn",
                    "mergeCellsHorizontally",
                    "mergeCellsVertically",
                    "splitCellHorizontally",
                    "splitCellVertically",
                    "tableAlignLeft",
                    "tableAlignCenter",
                    "tableAlignRight",
                    "formatting",
                    {
                        name: "fontName",
                        items: [
                            { text: "Andale Mono", value: "\"Andale Mono\"" }, // Font-family names composed of several words should be wrapped in \" \"
                            { text: "Arial", value: "Arial" },
                            { text: "Arial Black", value: "\"Arial Black\"" },
                            { text: "Book Antiqua", value: "\"Book Antiqua\"" },
                            { text: "Comic Sans MS", value: "\"Comic Sans MS\"" },
                            { text: "Courier New", value: "\"Courier New\"" },
                            { text: "Georgia", value: "Georgia" },
                            { text: "Helvetica", value: "Helvetica" },
                            { text: "Impact", value: "Impact" },
                            { text: "Symbol", value: "Symbol" },
                            { text: "Tahoma", value: "Tahoma" },
                            { text: "Terminal", value: "Terminal" },
                            { text: "Times New Roman", value: "\"Times New Roman\"" },
                            { text: "Trebuchet MS", value: "\"Trebuchet MS\"" },
                            { text: "Verdana", value: "Verdana" },
                        ]
                    },
                    "fontSize",
                    "foreColor",
                    "backColor",
                ]
            });
        </script>
