@model WebApp1.Models.Access
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post">
    <div>
        <label>Role</label>
        <select asp-for="RoleId" asp-items="@ViewBag.roles"></select>
    </div>
    <div>
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" />
    </div>
    <div>
        <label asp-for="Url">Url</label>
        <input type="text" asp-for="Url" />
    </div>
    <div>
        <button>Save Changes</button>
    </div>
</form>