@model List<Member>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Role</th>
        </tr>

    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.Gender</td>
                <td>
                    <a href="/dashboard/member/role/@item.MemberId">Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>

