<form method="post" enctype="multipart/form-data">
    <div>
        <label>Pdf</label>
        <input type="file" name="f" accept="pdf" />
    </div>
    <div>
        <button>Upload</button>
    </div>
</form>