 @model WebApp1.ViewModels.LoginModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    Layout = "_LayoutLogin";
}

<div asp-validation-summary="All"></div>
<form method="post">
    
    <div class="form-group">
        <label class="small mb-1">Username/Email</label>
        <input class="form-control py-4" placeholder="Enter Username/Email" type="text" asp-for="Username" />
    </div>
    <div class="form-group">
        <label class="small mb-1" asp-for="Password" >Password</label>
        <input class="form-control py-4" asp-for="Password"  type="password" placeholder="Enter password" />
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" asp-for="Remember" type="checkbox" />
            <label class="custom-control-label" asp-for="Remember"> Remember me!</label>
        </div>
    </div>
    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
        <a class="small" href="/auth/password">Forgot Password?</a>
        
        <button class="btn btn-primary">Login</button>
    </div>
</form>





@*<div asp-validation-summary="All"></div>
    <form  method="post">
        <div>
            <label>Username/Email</label>
            <input type="text" asp-for="Username"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" asp-for="Password"/>
        </div>
        <div>
            <label asp-for="Remember">
                 Remember me!
            </label>
            <input type="checkbox" asp-for="Remember"/>
        </div>
        <div>
            <button>Save changes</button>
        </div>
    </form>*@
