<!--SỬ dụng Tag Helper-->
@model WebApp1.Models.Timeslot
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<div asp-validation-summary="All">

</div>
<form method="post">
    <div>
        <label asp-for="Id">Id</label>
        <input type="number" asp-for="Id" />
        <span asp-validation-for="Id"></span>
    </div>
    <div>
        <label asp-for="Weekday">Weekday</label>
        <input type="text" asp-for="Weekday" />
        <span asp-validation-for="Weekday"></span>
    </div>
    <div>
        <label asp-for="Start">Start</label>
        <input type="time" asp-for="Start" />
        <span asp-validation-for="Start"></span>
    </div>
    <div>
        <label asp-for="End">End</label>
        <input type="time" asp-for="End" />
        <span asp-validation-for="End"></span>
    </div>
    <div>
        <button>Save Changes</button>
    </div>
    <a href="/timeslot">Back to list</a>
</form>
