<form method="post" >
    <div>
        <label>
            Select Folder
        </label>
        <input type="file" webkitdirectory accept="image/*"  name="tf" />
    </div>
    <div>
        <button class="btn btn-success"> Upload Folder</button>
    </div>
    
</form>