<i class="fa fa-upload"></i>

<form name="frm" enctype="multipart/form-data" method="post">
    <input type="file" accept="image/*" name="f"/>
</form>

<style>
    form[name="frm"]{
        display:none;
    }
</style>
<script>
    $('.fa-upload').click(() => {
        frm['f'].click();
    });
    $(frm['f']).change(() => {
        frm.submit();
    });
</script>