<form method="post" enctype="multipart/form-data">
    <div>
        <label>Multiple Image</label>
        <input type="file" accept="image/*" multiple name="mf" />
    </div>
    <div>
        <button>Upload</button>
    </div>
</form>