@model List<Category>
<ul>
    <li>
        <a href="/dashboard/category">Category</a>
    </li>
    <li>
        <a href="/dashboard/product">Product</a>
    </li>
    <li>
        <a href="/dashboard/upload">Upload</a>
    </li>
</ul>


