<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
   <link href="/css/all.min.css" rel="stylesheet"/>
   <script src="/js/jquery.min.js"></script>
   
    <script src="/js/bootstrap.js"></script>
</head>
<body>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">EShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                             <form method="post" action="/auth/logout"><button>Logout</button></form>
                            </li>
                            
                        }
                        else
                        {
                             <li class="nav-item">
                              <a class="nav-link" href="/auth/register">Register</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/auth/login">Login</a>
                            </li>
                        }
                       
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
                <li>
                    <a class="dropdown-item" href="/dashboard/category">Category</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/dashboard/product">Product</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/dashboard/upload">Upload</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/dashboard/autosendmail">AutoSendMail</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/dashboard/member">Member</a>
                </li>
             
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item">
            @if(ViewBag.total != 0)
                    {
                        <a class="nav-link" href="/cart">
                            <i class="fas fa-shopping-cart"></i>    
                            <b>@ViewBag.total</b>
                        </a>
                    }
            
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

        @RenderBody()
    </div>
</body>
</html>
