@model Member
<b>@User.Identity.Name</b>
<div class="card">
    <div class="card-header">
        <div class="card-title">
            Welcome: @Model.UserName
        </div>
    </div>
    
    <div class="card-body">
        <p>Your Mail: @Model.Email</p>
        <p>Gender: @Model.Gender</p>
    </div>
    <div class="card-footer"></div>
</div>