@model Member
<form method="post">
    <div>
        <label>UserName</label>
        <input type="text" asp-for="UserName" />
    </div>
    <div>
        <label>Password</label>
        <input type="password" asp-for="Password" />
    </div>
    <div>
        <label>Email</label>
        <input type="email" asp-for="Email" />
    </div>
    <div>
        <label>Gender</label>
        <select asp-for="Gender">
            <option value="0">Female</option>
            <option value="1">Male</option>
        </select>
    </div>
    <div>
        <button>Register</button>
    </div>
</form>