<form method="post" action="/dashboard/upload/create" enctype="multipart/form-data">
    <div>
        <label>Image</label>
        <input type="file" name="f" accept="image/*" />
    </div>
    <div>
        <button>Upload Image</button>
    </div>
</form>